.SeriesForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.SeriesForm > .searchBar > .searchBarInput {
    height: 40px;
    text-align: center;
    min-width: 100%;
}